#root,
html,
body {
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.editor-title-input {
  border: none !important;
  @apply outline-none focus:outline-none;
}

.w-md-editor {
  border: none !important;
  box-shadow: none !important;
}

.w-md-editor-input {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  border: none !important;
  overflow: hidden;

  &::-webkit-scrollbar {
      display: none !important;
  }
}

.w-md-editor-bar {
  visibility: hidden;
}

.w-md-editor-text-input::placeholder {
  color: #9d9d9d;
}