html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #fff;
    margin: 0;
    overflow: hidden;
}

#app {
    height: 100vh;
    text-align: center;
}

.editor-title-input {
    border: none !important;
}

.w-md-editor {
    border: none !important;
    box-shadow: none !important;
}

.w-md-editor-input {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    border: none !important;
    overflow: hidden;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

.w-md-editor-bar {
    visibility: hidden;
}

.w-md-editor-text-input::placeholder {
    color: #9d9d9d;
}

/* TagInput */
.tagInputWrap {
    overflow: hidden;
    border: 1px solid #d3d2d3;
    border-radius: 3px;
    cursor: text;
    background: #fff;
    transition: all .3s;
    line-height: 26px;
}

.tagInput {
    background: none;
    border: none;
    outline: none;
    box-shadow: none !important;
}

.tagInputUlClass {
    float: left;
    padding: 0;
    list-style: none;
    margin: 0;
}

.tagInputWrap:hover {
    border: 1px solid #8e8e8e;
}

.tagInputWrap>.ant-tag {
    padding: 4px 7px;
    border: none;
    background: '#f3f3f3';
}

/* TagInput */

.confImg {
    width: 100px;
    border: 1px dashed rgb(247, 245, 245);
}

.confImg:hover {
    border: 1px dashed rgb(6, 6, 6);
}

.ant-tabs-content-holder {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none !important;
    }
}